body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    overflow: hidden;
}

text {
    font-family: 'Red Hat Display',sans-serif;
    pointer-events: none;
}

.bars {
    cursor: pointer;
}

.rect {
    fill: steelblue;
}

.rectText {
    font-size: .8em;
}

.bottomtext {
    fill: #635F5D;
    font-size: 1em;
}

.tick line {
    stroke: #C0C0BB;
}

.axis-label {
    fill: #635F5D;
    font-size: 2em;
}

.title {
    /* fill: #635F5D; */
    font-size: 2.5em;
    font-weight: 800;
}

.tooltip {
    position: absolute;
    text-align: left;
    width: 10em;
    height: 6em;
    padding: .5em;
    margin: .5em;
    font: .8em sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}